{require_otp_vsn, "1[8-9].*|[2-9][0-9].*"}.
{lib_dirs, []}.

{deps, [
      ]
}.

{erl_opts, [debug_info]}.

%% where rebar3 operates from; defaults to the current working directory
{root_dir, "."}.

{edoc_opts,[{todo,true}]}.


%% == EUnit ==

%% eunit:test(Tests)
{eunit_tests, [{application, vscode_lsp}]}.
%% Options for eunit:test(Tests, Opts)
{eunit_opts, [verbose]}.
%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.


%% Keep only the logs of the last 5 runs
{ct_opts, [{keep_logs, 2}]}.


%% runs 'clean' before 'compile'
{provider_hooks, [{pre, [{compile, clean}]}]}.
