name: pr-verify

on: [push, pull_request]

jobs:
  pr-verify-job:
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, ubuntu-latest]
        node:
          - 20
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Install Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: npm install -g typescript "vsce"
